@model Raids.Models.Raid

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Raid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nomer" class="control-label"></label>
                <input asp-for="Nomer" class="form-control" />
                <span asp-validation-for="Nomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prikaz" class="control-label"></label>
                <input asp-for="Prikaz" class="form-control" />
                <span asp-validation-for="Prikaz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control", @type = "date"} })
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stop" class="control-label"></label>
                @Html.EditorFor(model => model.Stop, new { htmlAttributes = new { @class = "form-control", @type = "date"}})
                <span asp-validation-for="Stop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TerrId" class="control-label"></label>
                <select name="TerrId" class="custom-select" style="max-width: 250px;">
                    @foreach (Terr terr in ViewBag.Terr)
                    {
                        <!option value="@terr.Id" @((Model.TerrId == terr.Id) ? "selected" : "")>
                            @terr.Name
                        </!option>
                    }
                </select>
                <span asp-validation-for="TerrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Close" class="control-label"></label>
                <input asp-for="Close" class="form-control" />
                <span asp-validation-for="Close" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" asp-route-filterParams="@ViewData["Params"]" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
    <label> | </label>
    <a asp-action="Delete" asp-route-id="@Model.Id">
        Удалить
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
