@model IEnumerable<Raids.Models.Raid>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prikaz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terr.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Close)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prikaz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terr.Name)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Close)
            </td>
            <td>
                @if (item.Close != true)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit | </a> 
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
